/*
### Primary
- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)
*/

//Pozbawienie przy przyciskach wykropkowanego obramowania w firefox
button::-moz-focus-inner {
  border: 0;
}

//pozbawienie niebieskiego obramowania przycisku i innych rzeczy w chrome
input,
textarea,
button,
select,
a,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* COLORS */
$darkText: hsl(229, 25%, 31%);
$scoreText:hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);

$scissorsGradientTop: hsl(39, 89%, 49%);
$scissorsGradientBottom: hsl(40, 84%, 53%);

$paperGradientTop: hsl(230, 89%, 62%);
$paperGradientBottom: hsl(230, 89%, 65%);

$rockGradientTop: hsl(349, 71%, 52%);
$rockGradientBottom:hsl(349, 70%, 56%);

$spockGradientTop: hsl(189, 59%, 53%);
$spockGradientBottom: hsl(189, 58%, 57%);

$lizardGradientTop: hsl(261, 73%, 60%);
$lizardGradientBottom: hsl(261, 72%, 63%);

$backgroundGradientTop: hsl(214, 47%, 23%);
$backgroundGradientBottom: hsl(237, 49%, 15%);

/* ====================
        Mixins
=======================
*/
@mixin elementBorder() {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 20px;
  display: flex;
  box-shadow: inset 0px -8px 0px 2px rgba(0, 0, 0, .5);
}

@mixin gradientBackground($gradientTopColor, $gradientBottomColor) {
  background-image: linear-gradient($gradientTopColor, $gradientBottomColor);
}

@mixin marginPaddingZero() {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
  @include gradientBackground($backgroundGradientTop, $backgroundGradientBottom);
}

body {
  //filter: drop-shadow(8px 8px 10px gray); - ciekawy efekt, wszystkie elementy beda mialy poswiate
  height: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  overflow: auto;
}


//proba rozwiazania problemu google translate
#root {
  height: 100%;
}


/* ====================
      Header Div
=======================
*/
.header {
  width: 50%;
  margin: 30px 0;
  grid-area: header;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "title points";
  border: 3px solid $headerOutline;
  border-radius: 1rem;
  font-weight: 700;
  padding: 20px;
  padding-top: 10px;
}

.title {
  grid-area: title;
  justify-self: left;
  align-self: end;

  .logoImg {
    height: calc(20px + 6vw);
  }
}

.pointsContainer {
  grid-area: points;
  border-radius: 5px;
  justify-self: right;
  padding: 10px 40px 0 40px;
  background-color: #fff;
  font-weight: 600;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.points-title,
.points-count {
  @include marginPaddingZero();
}

.points-title {
  color: $scoreText;
  font-size: calc(8px + .4vw);
}

.points-count {
  text-align: center;
  color: $darkText;
  font-size: calc(10px + 5vw);
}

/* ============================
    Choose Vertion of Game Div
===============================
*/
.chooseVersionOfGame {
  //text-align: center;
  //position: relative;
  max-width: 350px;
  width: calc(95% - 1vw);
  display: flex;
  justify-self: center;
  justify-content: space-between;
  padding-bottom: 25px;

  .choosedVersion {
    align-self: center;
  }

  .versionSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .versionSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */

  //Rounded slider border
  .slider.round {
    border-radius: 34px;
  }

  //Rounded Cricle
  .slider.round:before {
    border-radius: 50%;
  }
}

/* =========================================
    Choose Option Div and Classic Version Div
=============================================
*/
//wczesniej chooseOption to bylo
.classicVersionContainer {
  //grid-area: chooseOption;
  background: url(../images/bg-triangle.svg) no-repeat center;
}

/* The Biggest Border Creation */
.paperElement,
.rockElement,
.scissorsElement,
.spockElement,
.lizardElement {
  @include elementBorder();
}

/* Color of the Biggest Borders and Position */

.paperElementClassic {
  position: relative;
  left: 50%;
  transform: translateX(-150%);
}

.rockElementClassic {
  position: relative;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

.scissorsElementClassic {
  position: relative;
  left: 50%;
  transform: translateX(50%) translateY(-100%);
}

.paperElement {
  @include gradientBackground($paperGradientTop, $paperGradientBottom);

}

.rockElement {
  @include gradientBackground($rockGradientTop, $rockGradientBottom);

}

.scissorsElement {
  @include gradientBackground($scissorsGradientTop, $scissorsGradientBottom);

}

.spockElement {
  @include gradientBackground($spockGradientTop, $spockGradientBottom);
}

.lizardElement {
  @include gradientBackground($lizardGradientTop, $lizardGradientBottom);
}

/* Desgin, positions for the white circle with icon inside Element */
.chooseElementButton {
  cursor: pointer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: white;
  border: 0px;
  margin: auto;
  outline: none;
  box-shadow: inset 0px 8px 0px -2px rgba(0, 0, 0, .1);

  &:hover {
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .5);
  }

  &:focus {
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .9);
  }
}

/*===================
  Container of Rules
=====================*/
.rulesContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

/*===============================
  Challenge and Who Made It Div
================================*/
.attribution {
  padding-top: 20px;
  text-align: center;


  /* Links styles */
  .attributionLink:link,
  .attributionLink:visited {
    color: red;
    text-decoration: none;
  }

  .attributionLink:hover {
    color: white;
  }
}


/*=============================
          Media Queries 
 ============================*/
@media only screen and (max-width : 768px) {

  .header {
    margin: 10px 0;
    padding: 10px;
  }

  .chooseVersionOfGame {

    padding-bottom: 0px;
  }

  .chooseOption {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .paperElementClassic {
    transform: translateX(-160%) translateY(-40%);
  }

  .scissorsElementClassic {
    transform: translateX(60%) translateY(-140%);
  }

  .rockElementClassic {
    transform: translateX(-50%) translateY(-12%);
  }

  .paperElement,
  .rockElement,
  .scissorsElement,
  .spockElement,
  .lizardElement {
    width: calc(55px + 1vw);
    height: calc(55px + 1vw);
  }

  .paperImg,
  .rockImg,
  .scissorsImg,
  .spockImg,
  .lizardImg {
    height: calc(30px + 1vw);
  }

  .chooseElementButton {
    width: calc(55px + 1vw);
    height: calc(55px + 1vw);
  }

  .pointsContainer {
    padding: 0px 20px 0 20px;
  }

  .rulesContainer {
    justify-content: center;
    margin-right: 0px;
  }

  .attribution {
    padding-bottom: 5px;
  }
}