/*
### Primary
- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)
*/

//Pozbawienie przy przyciskach wykropkowanego obramowania w firefox
button::-moz-focus-inner {
  border: 0;
}

//Pozbawienie czerwonego wykropkowanego obramowania w firefox, przy <a></a>
a {
  outline: 0;
}

//pozbawienie niebieskiego obramowania przycisku i innych rzeczy w chrome
input,
textarea,
button,
select,
a,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* COLORS */
$darkText: hsl(229, 25%, 31%);
$scoreText:hsl(229, 64%, 46%);
$headerOutline: hsl(217, 16%, 45%);

$scissorsGradientTop: hsl(39, 89%, 49%);
$scissorsGradientBottom: hsl(40, 84%, 53%);

$paperGradientTop: hsl(230, 89%, 62%);
$paperGradientBottom: hsl(230, 89%, 65%);

$rockGradientTop: hsl(349, 71%, 52%);
$rockGradientBottom:hsl(349, 70%, 56%);

$spockGradientTop: hsl(189, 59%, 53%);
$spockGradientBottom: hsl(189, 58%, 57%);

$lizardGradientTop: hsl(261, 73%, 60%);
$lizardGradientBottom: hsl(261, 72%, 63%);

$backgroundGradientTop: hsl(214, 47%, 23%);
$backgroundGradientBottom: hsl(237, 49%, 15%);

/* ====================
        Mixins
=======================
*/

@mixin gradientBackground($gradientTopColor, $gradientBottomColor) {
  background-image: linear-gradient($gradientTopColor, $gradientBottomColor);
}

@mixin marginPaddingZero() {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
  @include gradientBackground($backgroundGradientTop, $backgroundGradientBottom);
}

body {
  //filter: drop-shadow(8px 8px 10px gray); - ciekawy efekt, wszystkie elementy beda mialy poswiate
  height: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  overflow: auto;
}


//proba rozwiazania problemu google translate
#root {
  height: 100%;
}