@import "./App.scss";

/* ====================
        Mixins
======================= */

@mixin elementBorder() {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    box-shadow: inset 0px -8px 0px 2px rgba(0, 0, 0, .5);
}

/* =========================================
    Choose Option Div and Classic Version Div
=============================================
*/

.chooseOption {
    grid-area: chooseOption;
}

.classicVersionContainer {
    background: url(../images/bg-triangle.svg) no-repeat center;
}

/* The Biggest Border Creation */
.paperElement,
.rockElement,
.scissorsElement,
.spockElement,
.lizardElement {
    @include elementBorder();
}

/* Color of the Biggest Borders and Position */

.paperElementClassic {
    position: relative;
    left: 50%;
    transform: translateX(-150%);
}

.rockElementClassic {
    position: relative;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
}

.scissorsElementClassic {
    position: relative;
    left: 50%;
    transform: translateX(50%) translateY(-100%);
}

.paperElement {
    @include gradientBackground($paperGradientTop, $paperGradientBottom);

}

.rockElement {
    @include gradientBackground($rockGradientTop, $rockGradientBottom);

}

.scissorsElement {
    @include gradientBackground($scissorsGradientTop, $scissorsGradientBottom);

}

.spockElement {
    @include gradientBackground($spockGradientTop, $spockGradientBottom);
}

.lizardElement {
    @include gradientBackground($lizardGradientTop, $lizardGradientBottom);
}

/* Desgin, positions for the white circle with icon inside Element */
.chooseElementButton {
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 0px;
    margin: auto;
    outline: none;
    box-shadow: inset 0px 8px 0px -2px rgba(0, 0, 0, .1);

    &:hover {
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .5);
    }

    &:focus {
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .9);
    }
}

/*=============================
            Media Queries 
   ============================*/
@media only screen and (max-width : 768px) {

    .chooseOption {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .paperElementClassic {
        transform: translateX(-160%) translateY(-40%);
    }

    .scissorsElementClassic {
        transform: translateX(60%) translateY(-140%);
    }

    .rockElementClassic {
        transform: translateX(-50%) translateY(-12%);
    }

    .paperElement,
    .rockElement,
    .scissorsElement,
    .spockElement,
    .lizardElement {
        width: calc(55px + 1vw);
        height: calc(55px + 1vw);
    }

    .paperImg,
    .rockImg,
    .scissorsImg,
    .spockImg,
    .lizardImg {
        height: calc(30px + 1vw);
    }

    .chooseElementButton {
        width: calc(55px + 1vw);
        height: calc(55px + 1vw);
    }
}