@import "./App.scss";

/* ====================
        Mixins
======================= */

@mixin elementBorder() {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    box-shadow: inset 0px -8px 0px 2px rgba(0, 0, 0, .5);
}

/* =========================================
    Choose Option Div and Classic Version Div
=============================================
*/

.chooseOption {
    grid-area: chooseOption;
}

.classicVersionContainer {
    background: url(../images/bg-triangle.svg) no-repeat center;
}

/* The Biggest Border Creation */

.paperElement,
.rockElement,
.scissorsElement {
    @include elementBorder();
}

/* Color of the Biggest Borders and Position */

.paperElement {
    @include gradientBackground($paperGradientTop, $paperGradientBottom);

    &--classic {
        position: relative;
        left: 50%;
        transform: translateX(-150%);
    }

}

.rockElement {
    @include gradientBackground($rockGradientTop, $rockGradientBottom);

    &--classic {
        position: relative;
        left: 50%;
        transform: translateX(-50%) translateY(-25%);
    }

}

.scissorsElement {
    @include gradientBackground($scissorsGradientTop, $scissorsGradientBottom);

    &--classic {
        position: relative;
        left: 50%;
        transform: translateX(50%) translateY(-100%);
    }

}

/* Desgin, positions for the white circle with icon inside Element */
.chooseElementButton {
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    border: 0px;
    margin: auto;
    outline: none;
    box-shadow: inset 0px 8px 0px -2px rgba(0, 0, 0, .1);

    &:hover {
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .5);
    }

    &:focus {
        box-shadow: inset 0px 0px 15px rgba(0, 0, 0, .9);
    }
}

/*=============================
            Media Queries 
   ============================*/
@media only screen and (max-width : 768px) {

    .chooseOption {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .paperElement,
    .rockElement,
    .scissorsElement {
        width: calc(55px + 1vw);
        height: calc(55px + 1vw);
    }

    .paperElement {
        &--classic {
            transform: translateX(-160%) translateY(-40%);
        }
    }

    .scissorsElement {
        &--classic {
            transform: translateX(60%) translateY(-140%);
        }
    }

    .rockElement {
        &--classic {
            transform: translateX(-50%) translateY(-12%);
        }

    }

    .iconImg {
        height: calc(30px + 1vw);
    }

    .chooseElementButton {
        width: calc(55px + 1vw);
        height: calc(55px + 1vw);
    }
}