@import "./ClassicVersion.scss";

.extendedVersionContainer {
    background: url(../images/bg-pentagon.svg) no-repeat center;
    position: relative;
    height: 50vh;
    padding-bottom: 45px;
}

.spockElement,
.lizardElement {
    @include elementBorder();
}

.spockElement {
    @include gradientBackground($spockGradientTop, $spockGradientBottom);

    &--extended {
        position: absolute;
        left: 50%;
        transform: translateX(-150%) translateY(75%);
    }

}

.lizardElement {
    @include gradientBackground($lizardGradientTop, $lizardGradientBottom);

    &--extended {
        position: absolute;
        left: 50%;
        transform: translateX(-125%) translateY(200%);
    }

}

.scissorsElement {
    &--extended {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(0%);
    }
}

.paperElement {
    &--extended {
        position: absolute;
        left: 50%;
        transform: translateX(50%) translateY(75%);
    }
}

.rockElement {
    &--extended {
        position: absolute;
        left: 50%;
        transform: translateX(20%) translateY(200%);
    }
}

@media only screen and (max-width : 768px) {

    .spockElement,
    .lizardElement {
        width: calc(55px + 1vw);
        height: calc(55px + 1vw);
    }

    .scissorsElement {
        &--extended {
            transform: translateX(-50%) translateY(-35%);
        }
    }

    .spockElement {
        &--extended {
            transform: translateX(-175%) translateY(50%);
        }
    }

    .paperElement {
        &--extended {
            transform: translateX(75%) translateY(50%);
        }
    }

    .lizardElement {
        &--extended {
            transform: translateX(-150%) translateY(225%);
        }

    }

    .rockElement {
        &--extended {
            transform: translateX(50%) translateY(225%);
        }
    }

    .iconImg {
        height: calc(30px + 1vw);
    }
}