/*===============================
  Footer (Challenge and Who Made It Div)
================================*/
.footer {
    padding: 20px 0;
    text-align: center;

    /* Links styles */
    &__link:link,
    &__link:visited {
        color: red;
        text-decoration: none;
    }

    &__link:hover {
        color: white;
    }
}

@media only screen and (max-width : 768px) {
    .footer {
        padding-bottom: 5px;
    }
}